* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: rgb(235, 235, 235);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main: #f2785c;
  --second: #0d606f;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  text-align: center;
  color: var(--main);
  font-size: 40px;
  margin-bottom: 45px;
}

@media (max-width: 390px) {
  .section-title {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.btn {
  border: none;
  background-color: var(--second);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  cursor: pointer;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
}
.btn img {
  margin-right: 10px;
  vertical-align: middle;
}
.btn:hover {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background-color: #127f92;
}

.dest-btn {
  display: block;
  text-align: center;
  font-size: 24px;
  margin: auto;
  padding: 15px 30px;
}

.story-btn {
  margin-top: 36px;
}

.header {
  background: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
          box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  padding: 25px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Magra", sans-serif;
  color: #fff;
  font-size: 32px;
}
.header a:hover {
  color: var(--second);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header a > img {
  margin-right: 6px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list-burger {
  display: none;
}

.burger-icon {
  cursor: pointer;
  display: none;
}

.navigation a {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  margin-right: 42px;
}

@media (max-width: 390px) {
  .header {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 43px 16px;
  }
  .nav-list {
    display: none;
  }
  .nav-list-burger {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 160px;
    height: 250px;
    background-color: rgb(242, 120, 92);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
            box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    padding: 44px 15px 30px 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .close-icon {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .burger-icon {
    cursor: pointer;
    display: block;
  }
  .navigation a {
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: right;
  }
  .header-logo span {
    display: none;
  }
  .header-btn {
    display: none;
  }
}
.preview {
  padding: 32px 120px;
}

.hero {
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 765px;
  height: 100%;
  width: 100%;
}

.main-title {
  color: #fff;
  font-family: "Aleo", serif;
  font-size: 80px;
  line-height: 96px;
  margin-bottom: 31px;
}

.main-sub {
  color: #fff;
  font-family: "Aleo", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 46px;
}

.main-input-wrapper {
  position: relative;
  max-width: 890px;
  width: 100%;
}

.main-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  border: none;
  padding: 41px;
  font-size: 24px;
  color: var(--main);
  max-width: 890px;
  width: 100%;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.main-input::-webkit-input-placeholder {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  color: var(--main);
}
.main-input::-moz-placeholder {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  color: var(--main);
}
.main-input:-ms-input-placeholder {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  color: var(--main);
}
.main-input::-ms-input-placeholder {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  color: var(--main);
}
.main-input::placeholder {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  color: var(--main);
}
.main-input:focus {
  outline: 2px solid var(--main);
}

.input-btn {
  display: block;
  position: absolute;
  top: 20%;
  right: 20px;
  font-size: 24px;
  padding: 14px 35px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

@media (max-width: 390px) {
  .preview {
    padding: 12px 15px;
  }
  .hero {
    min-height: 250px;
    height: 100%;
    min-width: 100%;
    background-size: cover;
  }
  .main-title {
    display: none;
  }
  .main-sub {
    display: none;
  }
  .main-input {
    padding: 16px;
    font-size: 14px;
    width: 100%;
    height: 50px;
  }
  .input-btn {
    top: 20%;
    right: 10px;
    font-size: 10px;
    padding: 9px 7.5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
            box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  }
}
.steps {
  padding: 80px 50px 100px;
  background-color: #fff;
}

.steps-title {
  margin-bottom: 20px;
}

.step-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.step-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 320px;
      flex-basis: 320px;
}

.step-card img {
  width: 100px;
  height: 100px;
  background-color: var(--main);
  border-radius: 16px;
  padding: 25px;
  margin-bottom: 30px;
}

.step-text {
  text-align: center;
  color: var(--second);
  font-size: 20px;
  font-family: "Aleo", serif;
}

@media (max-width: 390px) {
  .steps {
    padding: 20px 15px;
  }
  .step-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .step-card {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
  }
  .step-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  .step-text {
    font-size: 10px;
    line-height: 12px;
  }
}
.destinations {
  background-color: #fff;
  overflow-x: hidden;
  padding-bottom: 80px;
}

.dest-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  gap: 60px;
  -webkit-transform: translateX(-520px);
          transform: translateX(-520px);
  margin-bottom: 24px;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.left {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.middle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.dest-card {
  position: relative;
}

.current {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.dest-card img {
  border-radius: 16px;
}

.dest-sign {
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 32px;
}

.dest-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.dest-dot {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}
.dest-dot:hover {
  background-color: var(--main);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 390px) {
  .dest-wrapper {
    margin-left: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    gap: 15px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-bottom: 24px;
    position: relative;
  }
  .dest-card img {
    width: 360px;
    height: 210px;
  }
  .dest-sign {
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 20px;
  }
  .dest-dots {
    position: absolute;
    top: 0;
  }
  .dest-dot {
    width: 8px;
    height: 8px;
    margin: 0 3px;
  }
  .dest-dot:hover {
    background-color: var(--main);
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }
  .dest-btn {
    width: 95px;
    height: 30px;
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .dest-btn img {
    width: 10px;
    height: 10px;
  }
}
.stories {
  margin-top: 70px;
}

.stories-footer {
  background-color: #fff;
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100px;
}

.stories-title {
  margin-top: -80px;
}

.stories-wrapper {
  background: rgba(255, 255, 255, 0.7);
  padding: 40px 120px;
  width: 100%;
}

.story-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--second);
  margin-bottom: 25px;
}

.story-img {
  margin-right: 40px;
  max-width: 400px;
  width: 100%;
  -webkit-filter: drop-shadow(0px 4px 4px #0d606f);
          filter: drop-shadow(0px 4px 4px #0d606f);
}

.story-img img {
  border-radius: 16px;
}

.story-title {
  font-family: "Aleo", serif;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 35px;
}

.story-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.story-link {
  font-family: "Aleo", serif;
  font-size: 20px;
  line-height: 24px;
  color: var(--second);
  font-weight: 700;
  text-decoration: underline;
}

@media (max-width: 390px) {
  .stories {
    margin-top: 20px;
  }
  .stories-wrapper {
    padding: 10px 15px;
  }
  .stories-footer {
    background-position-y: 50px;
  }
  .story-img {
    width: 100%;
    margin-right: 10px;
  }
  .story-img img {
    width: 155px;
    height: 130px;
  }
  .story-title {
    margin-bottom: 11px;
    line-height: 13px;
    font-size: 11px;
  }
  .story-text {
    font-size: 10px;
    line-height: 11px;
  }
  .story-link {
    font-size: 10px;
    line-height: 24px;
  }
}
.footer {
  padding: 15px 120px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  position: relative;
}

.footer p {
  text-align: center;
  margin: 0 auto;
}

.footer-social {
  position: absolute;
  right: 120px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 140px;
}

@media (max-width: 390px) {
  .footer {
    padding: 0px;
  }
  .footer p {
    display: none;
  }
}