.footer {
  padding: 15px 120px;
  @include ffr-500;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  position: relative;
}

.footer p {
  text-align: center;
  margin: 0 auto;
}

.footer-social {
  position: absolute;
  right: 120px;
  top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 140px;
}

@media (max-width: 390px) {
  .footer {
    padding: 0px;
  }

  .footer p {
    display: none;
  }
}
